FUNASR_VERSION=1.4.0
FUNASR_HOST_PORT=8000
FUNASR_DEVICE=cpu
FUNASR_MODEL=sensevoice
FUNASR_HUB=ms
FUNASR_CPU_THREADS=2
FUNASR_CPU_LIMIT=1.75
FUNASR_MEMORY_LIMIT=2500m
FUNASR_MEMORY_RESERVATION=1500m
